/* src/components/LoginForm.css */

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #1e1e1e;
}

.login-box {
    background: #111;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 15px #e50914;
    color: white;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #e50914;
}

.login-box input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.login-box button {
    background: #e50914;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-box button:hover {
    background: #a2070e;
}

.login-box span {
    color: #e50914;
    cursor: pointer;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}